html, body {
    height: 100%;
}

#root {
    height: inherit;
}

#main {
    height: inherit;
}

#topbar {
    font-family: 'Lobster', cursive;
}
  
#middlebar {
    min-height: 3vh;
    border-bottom: 1px #0b0b0c2e solid;
}
  
#content {
    height: inherit;
    font-family: 'Poppins', sans-serif;
}

#menu {
    background: white;
    border-right: 1px #0b0b0c2e solid;
}

#content-area {
    height: inherit;
}

.list-group-item {
    border-bottom: 1px solid #0b0b0c2e!important;
}

#live-char-wrapper {
    width: 75%;
    height: 75%;
}