#main {
    min-height: 100vh;
}
  
#topbar {
    font-family: 'Lobster', cursive;
    min-height: 12vh;
}
  
#middlebar {
    min-height: 3vh;
    border-bottom: 1px #0b0b0c2e solid;
}
  
#content {
    min-height: 85vh;
}

#menu {
    border-right: 1px #0b0b0c2e solid;
    font-family: 'Poppins', sans-serif;
}

#content-area {
    background-color: rgb(21 21 21 / 2%);
}

.list-group-item {
    border-bottom: 1px solid #0b0b0c2e!important;
}

#welcome {
    font-family: 'Poppins', sans-serif;
}

#live-chart {
    min-height: 70vh;
}